@use "../../styles/variables.scss" as v;
.cardgeneral{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .card{
        width: 19.5%;
        display: flex;
        flex-wrap: wrap;
        box-shadow: v.$shadow;
        padding: 15px 0;
        div{
            img{
            width: 40px;
            padding: 5px;
            }
        }
        div:last-child{
            //padding-left: 15px;
            width: 70%;
            h3{
                font-size: 25px;                
                color: v.$primary-font-color;
                margin: 0;
            }
            h4{
                font-size: 9px;
                font-weight: 400;
                color: v.$primary-font-color;
                margin: 0;
            }
        }
    }
}