@use "../../styles/variables.scss" as v;
.worldmap{
    width: 50%;    
    padding-right: 20px;
    figure{
        width: 100%;
        margin: 0;
        svg{
            width: 100%;
            padding: 5px;
        }
    }
}