@use "../../styles/variables.scss" as v;

body{
  background-color: #F4F6FA; 
}

.covid-table {
  width: 100%;
  color: v.$primary-color;
  height: 100vh;
  overflow: scroll;

  h2 {
  margin-left: 10px;
  margin-top: 10px;
  color:v.$primary-color;
  border-color: #000000; 
  font-size: 20px;
  font-weight: bold;
  }

  .grid-container {
    display: grid;
    padding: 0 10px;
    gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(124.5px, 1fr));
    border-top: 1px solid v.$border-grey;
  }

  .grid-item {
    background-color: transparent;

    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }

    .country-data {
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid v.$background-td-color;
      box-shadow: 0 15px 30px 0 rgba(20, 50, 90, 0.05);
      margin-bottom: 10px;
      transition: transform 0.2s ease-in-out;
      background-color: v.$background-td-color;

      &:hover {
        background-color: v.$background-td-color;
        transform: scale(1.07);
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }

      .country-info {
        display: flex;
        flex-direction: column;

        .country-name {
          font-size: 12px;
          font-weight: 400;
          margin-bottom: -5px;
        }

        .country-value {
          font-size: 17px;
          font-weight: bold;
          color: v.$primary-color;
        }
      }
    }
  }

  // Media query for screens up to 800px
  @media (max-width: 800px) {
    main{
      width: 100%;
    }
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // Media query for screens up to 478px
  @media (max-width: 478px) {
    main{
      width: 100%;
    }
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}