@use "../../styles/variables.scss" as v;

.rdt_Table {
    overflow: scroll;
}

.rdt_TableHeadRow {
    font-weight: bold;
    font-size: 1rem;
    color: v.$primary-font-color;
}

.rdt_TableCell {
    color: v.$violet-font-color;
    font-size: 1rem;
}

.rdt_TableCol div:first-child {
    width: max-content;
    white-space: normal !important;
    overflow: visible !important;
}
