@use "../../styles/variables.scss" as v;

.rdt_TableHeadRow {
    font-weight: bold;
    color: v.$primary-font-color;
}

.rdt_TableCell {
    color: v.$violet-font-color;
}

.rdt_TableCol div:first-child {
    //width:6rem;
    width: max-content;
    white-space: normal !important;
    overflow: visible !important;
}