@import 'https://fonts.googleapis.com/css?family=Poppins&display=swap';
$primary-color:#121158;
$secondary-color:#3639AE;
$primary-font-color:#121157;
$red-font-color:#ff0000;
$orange-font-color:#ff6a07;
$green-font-color:#82c519;
$redark-font-color:#b70202;
$blue-font-color:#2c6dff;
$violet-font-color:#515184;
$shadow:0 10px 10px 0 rgba(20, 50, 90, 0.05);
$gray:#a5a5a5;


$background-color:#f7f8fc;
$border-grey:#e0e0e0;
$font: "Poppins", sans-serif ;
