@import 'https://fonts.googleapis.com/css?family=Poppins&display=swap';

$primary-color:#121158;
$secondary-color:#3639AE;
$text-color-darkBlue: #121158;
$text-color-light: #515184;
$background-color: #F5F6FA;
$border-grey: #E0E0E0;

$font: "Poppins", sans-serif ;
