.image-part {
  width: 40%; // Ocupa 40% del ancho en pantallas grandes
  margin-bottom: 150px; // Espacio superior
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: 600px;
    width: 600px;
    border-radius: 5px;
    display: block;
    margin: 100px; 
    margin-left: 250px;
   
  }

  @media (max-width: 768px) {
    width: 70%; // Ocupa todo el ancho disponible en dispositivos móviles
    margin-top: 20px; // Espacio entre text-part e image-part en dispositivos móviles
    margin-left: 40px;
  }
}
