@use "./styles/variables.scss" as v;

#root{
    width: 100%;
    display: flex;
}
body{
    font-family: v.$font;
    margin: 0px;
}
main{
    width: 100%;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
article{
    display: flex;
    flex-wrap: wrap;
}