@use "./styles/variables.scss" as v;

#root{
    width: 100%;
    display: flex;
}
body{
    font-family: v.$font;
    margin: 0px;
}
.outlet{
    width: 70%;
}
main{
    width: 100%;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
article{
    display: flex;
    flex-wrap: wrap;
    //margin: 0px;
}
.error{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-top: 50px;
    img{
        width: 500px;
    }
    h1{
        width: 100%;
        text-align: center;
    }
    p{
        width: 100%;
        text-align: center;
    }
    a{
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        .buttonError{
            width: 40%;
            padding: 10px;
            border-radius: 10px;
            background-color: v.$primary-color;
            border: none;
            color: #fff;
            font-size: 18px;
            &:hover{
                scale: 1.1;
                background-color: v.$secondary-color;
            }
        }
    }
}